.operator {
  background-color: darkorange !important;
}

.selectedOperator {
  background-color: orange !important;
}

.specialOperator {
  background-color: lightgray !important;
  color: black !important;
}

.emptySpace {
  visibility: hidden;
}
